<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    halaman tugasku
    <form action="" method="post">
        <label for="">nama</label>
        <input name="nama" value="{{context[1]}}" type="text">
        <label for="">detail</label>
        <input name="asal_kabupaten" value="{{context[2]}}" type="text">
        <button type="submit">update</button>
        <input name="blok_kamar" value="{{context[3]}}" type="text">
        <button type="submit">update</button>
        <input name="keterangan" value="{{context[4]}}" type="text">
        <button type="submit">update</button>
    </form>
</body>
</html>