<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>halaman updating data</h3> 
    <form action="" method="post">
        <label for="">nama</label>
        <input name="nama" type="text" required>
        <label for="">asal kabupaten</label>
        <input name="asal_kabupaten" type="text" required>
        <label for="">blok kamar</label>
        <input name="blok_kamar" type="text" required>
        <label for="">keterangan</label>
        <input name="keterangan" type="text" required>
        <button type="submit">update</button>
    </form>
</body>
</html>