<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>ini request</h1>
        <form action="" method="post">
            <label for="">nama</label>
            <input name="nama" type="text" required>
            <label for="">detail</label>
            <input name="detail" type="text" required>
            <button type="submit">kirim</button>
        
        </form>

        <hr>
        <h1>ini response</h1>
        {{contex}}
        <br>
        {% for d in contex %}
        <ul>
            <li>{{d}}</li>
        </ul>
        {% endfor %}
    </div>
</body>
</html>